<?xml version="1.0" encoding="UTF-8"?>
<!-- Licensed under the Apache License, Version 2.0 (the "License"); you 
	may not use this file except in compliance with the License. You may obtain 
	a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless 
	required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<Config>
	<para name="loglevel">1</para> <!-- 1: engine, 2: step, 3: substep -->

	<para name="httplogpath">C:/Users/Yongyao/Desktop/access_log.podaac.201502
	</para>
	<para name="ftplogpath">C:/aist/ftp/podaac-ftp.log.201502</para>
	

	<para name="metadataurl">null</para>

	<para name="ontologyInputDir">C:/Users/Yongyao/Desktop/Research and
		work/Mudrod_JPL/SWEET_ocean/
	</para>   <!-- owl files directory -->
	<para name="ontologyFile">./src/main/java/esiptestbed/tmp/Ocean_triples.csv
	</para>
	<para name="userHistoryMatrix">./src/main/java/esiptestbed/tmp/UserHistoryMatrix.csv</para>
	<para name="clickstreamMatrix">./src/main/java/esiptestbed/tmp/ClickstreamMatrix.csv
	</para>
	<para name="metadataMatrix">./src/main/java/esiptestbed/tmp/MetadataMatrix.csv
	</para>
	
	<para name="clickstreamSVDMatrix_tmp">./src/main/java/esiptestbed/tmp/clickstreamSVDMatrix_tmp.csv
	</para>
	<para name="metadataSVDMatrix_tmp">./src/main/java/esiptestbed/tmp/metadataSVDMatrix_tmp.csv
	</para>

	<para name="clusterName">elasticsearch</para>
	<para name="indexName">test</para>

	<para name="HTTP_type">rawhttp</para>
	<para name="FTP_type">rawftp</para>
	<para name="Cleanup_type">cleanupLog</para>
	<para name="SessionStats">sessionstats</para>

	<para name="commentType">comment</para>
	<para name="SessionPort">443</para>

	<para name="sendingrate">30</para>   <!-- threshold for crawler detection, unit request/second -->
	<para name="timegap">600</para>   <!-- threshold for session generator, unit second -->
	<para name="searchf">100</para>   <!-- threshold for removing suspicious sessions, unit second -->
	<para name="viewf">200</para>   <!-- threshold for session summarizing, unit second -->
	<para name="downloadf">100</para>   <!-- threshold for session summarizing, unit second -->

	<para name="raw_metadataType">RawMetadata</para>

	<para name="clickstreamSVDDimension">50</para>
	<para name="metadataSVDDimension">50</para>
	<para name="downloadWeight">3</para>

	<para name="mini_userHistory">5</para>   <!-- filter out less active users & queries -->
	
	<para name="userHistoryLinkageType">UserHistoryLinkage</para>
	<para name="clickStreamLinkageType">ClickStreamLinkage</para>
	<para name="metadataLinkageType">MetadataLinkage</para>
	<para name="ontologyLinkageType">SWEETLinkage</para>
	
	<para name="userHistory_w">2</para>
	<para name="clickStream_w">2</para>
	<para name="metadata_w">1</para>
	<para name="ontology_w">2</para>
</Config>