<!--
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
-->
<?xml version="1.0" encoding="UTF-8"?>

<Config>
<para name="loglevel">1</para> <!-- 1: engine, 2: step, 3: substep -->


<para name="httplogpath">C:/Users/Yongyao/Desktop/access_log.podaac.201502</para>
<para name="ftplogpath">C:/aist/ftp/podaac-ftp.log.201502</para>

<para name="metadataurl">null</para>

<para name="ontologyInputDir">C:/Users/Yongyao/Desktop/Research and work/Mudrod_JPL/SWEET_ocean/</para>
<para name="ontologyOutputFile">./src/main/java/esiptestbed/tmp/Ocean_triples.csv</para>

<para name="clusterName">elasticsearch</para>
<para name="indexName">mudrod</para>

<para name="HTTP_type">rawhttp</para>
<para name="FTP_type">rawftp</para>
<para name="Cleanup_type">cleanupLog</para>
<para name="SessionStats">sessionstats</para>

<para name="sendingrate">30</para>   <!-- threshold for crawler detection, unit request/second -->
<para name="timegap">600</para>   <!-- threshold for session generator, unit second-->
<para name="searchf">100</para>   <!-- threshold for removing suspicious sessions, unit second-->
<para name="viewf">200</para>   <!-- threshold for session summarizing, unit second-->
<para name="downloadf">100</para>   <!-- threshold for session summarizing, unit second-->

<para name="SessionPort">443</para> 

<para name="ontologyLinkageType">SWEET</para> 

</Config>