html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
}

h1, h2, h3, p {
    margin: 0 0 .2em 0;
}

.toolbar {
    background-color: #2276ac;
    height: 60px;
}

article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

header h1 {
    margin: 0;
}

.toolbar a:link, .toolbar a:visited {
    color: #fff;
}

header h1 > a {
    margin-top: 10px;
}

a {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
}

a:focus, a:hover {
    text-decoration: none;
}

b, strong {
    font-weight: bold;
}

a:link, a:visited {
    color: #2980b9;
}

.view-area-fixed {
    width: 100%;
    padding-top: 1em;
    background-size: cover;
    background: transparent url('../images/OceanWave.jpg') no-repeat fixed 0 0;
}

.view-area-scroll {
    width: 100%;
    height: 800px;
    background-size: cover;
    background: transparent url('../images/OceanWave.jpg') no-repeat scroll 0 0;
}

.landing-dialog {
    flex: 1;
    padding: 6em;
    width: 80%;
    margin: 15em auto 15em;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.7);
}

.landing-dialog-header, .noscript, .old-ie {
    padding: 1em 1.5em;
}

.landing-dialog-header h2, .noscript h2, .old-ie h2 {
    font-weight: normal;
    margin: 0 0 .2em 0;
    font-size: 2.2em;
    text-shadow: 1px 1px 1px #111;
}

.searchBox {
    height: 100px;
    padding: .5em 0;
    background: transparent;
    margin-left: .5em;
}

.panel-title {
    font-size: 1.5em;
}

.rankoption {
    background-color: white;
    color: black;
    float: right;
}

.autocomplete {
    overflow-y: auto;
    height: 15em;
    color: black;
}

.toolbar .form {
    display: inline-block;
}

.toolbar p {
    margin: 0;
}

.tt-input {
    vertical-align: baseline !important;
}

input[type="text"], input[type="search"], input[type="password"], textarea {
    padding: 5px;
    outline: none;
    min-width: 150px;
    color: #424242;
}

.toolbar .tt-query, .toolbar .tt-hint, .toolbar .tt-input {
    padding: 11px;
    margin: 2px 0 0 20px;
    width: 540px;
    border: 1px solid #236d9e;
    border-radius: 3px;
    box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.button, input[type="button"], input[type="reset"], input[type="submit"], button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.toolbar .button, .toolbar input[type="button"], .toolbar input[type="reset"], .toolbar input[type="submit"] {
    border: 1px solid #2c3e50;
    background: #1a5981;
    color: #fff;
    text-shadow: none;
}

.btn-search, .btn-search:hover, .btn-search:focus, .btn-search:active, .btn-search.active, .open .dropdown-toggle.btn-search, .btn-search:active:focus, .btn-search:active:hover, .btn-search.active:hover, .btn-search.active:focus {
    background-color: #1a5981;
    border-color: #1a5981;
    color: #FFFFFF;
    padding: 9px 12px 9px 12px;
    font-size: 1.3em;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.radio {
    padding-left: 20px;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #5bc0de;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

a {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    color: #2980b9;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #8ab9e7;
}

.sidenav h4 a {
    padding: 2px 8px 0 10px;
    color: white;
}

.sidenav .learn-more a {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.content-holder .post-holder {
    padding-top: 0;
}

.post-holder .panel-body {
    overflow-x: auto;
}

.post-holder .post {
    background-color: #FFFFFF;
    border-bottom: 1px solid #c3c3c3;
    padding: 14px 16px;
}

.content-holder .heading-t3 {
    height: 42px;
    margin-bottom: 16px;
}

.content-holder .heading-t3, .heading-t3 {
    background: #738dca;
    padding: 0 18px 0 16px;
    overflow: hidden;
}

.content-holder .heading-t3 .title {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
}

.list-related-searches {
    text-align: left;
    border-bottom: 2px solid #069;
    padding-bottom: 10px;
    margin-bottom: 6px;
    list-style: none;
}

.heading-t4 {
    background: #fff;
    border-top: 6px solid #738dca;
    border-bottom: 6px solid #738dca;
    overflow: hidden;
    font-size: 1.2em;
}

.search-form {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.search-form button {
    position: absolute;
    right: 10px;
    top: 3px;
    border: 0;
    padding: 0;
    background: none;
}

.ico-search {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat 0 0;
    width: 17px;
    height: 23px;
}

.search-form #query {
    height: 28px;
    border: 2px solid #39c;
    border-radius: 14px;
    line-height: 20px;
    padding: 1px 35px 1px 15px;
    width: 100%;
    background: #f3f3f3;
    box-shadow: none !important;
}

.searchOption {
    color: white;
}

li {
    cursor: default;
}

.search-ul {
    position: absolute;
    z-index: 1000;
    min-width: 195px;
    width: 20%;
    list-style: none;
    text-align: left;
}

#spinner {
    text-align: center;
}

#spinner img{
    height: 10em;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
    background-color: #069;
    border-color: #069;
    border-radius: 4px;
}

.mudrod-navbar {
    margin-bottom: 0;
    padding-left: 1em;
    padding-right: 1em;
}

.mudrod-navbar #searchForm {
    width: 50%;
}

.mudrod-navbar #searchForm .form-group {
    width: 100%;
}

.mudrod-navbar #searchForm .form-group input {
    width: 45%;
}

.mudrod-navbar .nav-item {
    margin: 1em 0 0 1em;
}

.mudrod-footer {
    color: white;
    padding-left: 2em;
}