html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #2a6496;
}

.fixed-table-body {
    background-color: lightsteelblue;
    margin: 0.5em;
    font-size: .7em;
}

h1, h2, h3, p {
    margin: 0 0 .2em 0;
}

.toolbar {
    background-color: #2276ac;
    /*padding: 25px 0 60px 0;*/
    height: 60px;
}

article, aside, details, figcaption, figure, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

header h1 {
    margin: 0;
}

.toolbar a:link, .toolbar a:visited {
    color: #fff;
}

header h1 > a {
    margin-top: 10px;
}

a {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
}

a:focus, a:hover {
    text-decoration: none;
}

header .site-logo {
    height: 40px;
    float: left;
    line-height: 40px;
    font-weight: 300;
    font-size: 26px;
    -webkit-transition: background 0.2s ease-in-out;
    -moz-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

header .site-logo-org {
    font-family: 'Open Sans', sans-serif;
    content: 'Earthdata';
    display: block;
    font-size: .475em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}

b, strong {
    font-weight: bold;
}

a:link, a:visited {
    color: #2980b9;
}

.view-area {
    background-image: url('../images/OceanWave.jpg');
    background-repeat:repeat-y;
    background-size:cover;
    line-height: 1.42857143;
    width: 100%;
}
.landing-dialog {
    flex: 1;
    padding: 80px;
    width: 80%;
    margin: 200px auto 200px;
    color: #fff;
    /*background-color: rgba(17,17,17,0.8);*/
    border-radius: 6px;
    box-shadow: 0 0 20px 0 rgba(17, 17, 17, 0.7);
}

.landing-dialog-header, .noscript, .old-ie {
    padding: 1em 1.5em;
}

.landing-dialog-header h2, .noscript h2, .old-ie h2 {
    font-weight: normal;
    margin: 0 0 .2em 0;
    font-size: 2.2em;
    text-shadow: 1px 1px 1px #111;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.searchBox {
    height: 100px;
    padding: .5em 0;
    background: transparent;
    margin-left: .5em;
}

.toolbar .form {
    display: inline-block;
}

.toolbar p {
    margin: 0;
}

.tt-input {
    vertical-align: baseline !important;
}

input[type="text"], input[type="search"], input[type="password"], textarea {
    padding: 5px;
    outline: none;
    min-width: 150px;
    color: #424242;
}

.toolbar .tt-query, .toolbar .tt-hint, .toolbar .tt-input {
    padding: 11px;
    margin: 2px 0 0 20px;
    width: 540px;
    border: 1px solid #236d9e;
    border-radius: 3px;
    box-shadow: inset 0 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.dropdown {
    display: inline-block;
    position: relative;
}

.button, input[type="button"], input[type="reset"], input[type="submit"], button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    outline: none;
    color: #fff;
}

.toolbar .button, .toolbar input[type="button"], .toolbar input[type="reset"], .toolbar input[type="submit"] {
    border: 1px solid #2c3e50;
    background: #1a5981;
    color: #fff;
    text-shadow: none;
}

.btn-search, .btn-search:hover, .btn-search:focus, .btn-search:active, .btn-search.active, .open .dropdown-toggle.btn-search, .btn-search:active:focus, .btn-search:active:hover, .btn-search.active:hover, .btn-search.active:focus {
    background-color: #1a5981;
    border-color: #1a5981;
    color: #FFFFFF;
    padding: 9px 12px 9px 12px;
    font-size: 18px;
}

.checkbox-inline, .radio-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.radio {
    padding-left: 20px;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio input[type="radio"] {
    opacity: 0;
    z-index: 1;
}

.radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #5bc0de;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

a {
    cursor: pointer;
}

.sidenav {
    height: 100%;
    font-size: 10px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: lightsteelblue;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 3px;
    margin-bottom: 17px;
    word-wrap: break-word;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.6em;
    color: lightslategray;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.no-gutter > [class*='col-'] {
    padding-right:5px;
    padding-left:5px;
}

.content-holder .post-holder {
    padding-top: 0;
}

.post-holder {
    overflow: hidden;
    font-size: 15px;
    line-height: 1.4;
}

.post-holder .post {
    background-color: #FFFFFF;
    border-bottom: 1px solid #c3c3c3; 
    padding: 14px 16px;
}

.content-holder .heading-t3 {
    height: 42px;
    margin-bottom: 16px;
}

.content-holder .heading-t3, .heading-t3 {
    background: #738dca;
    padding: 0 18px 0 16px;
    overflow: hidden;
}

.content-holder .heading-t3 .title {
    display: inline-block;
    vertical-align: top;
    padding: 6px 8px;
}

.pagination {
    float: left;
    overflow: hidden;
    margin-bottom: 14px;
    margin-left: 20px;
    margin-right: 20px;
}

.list-related-searches {
    text-align: left;
    border-bottom: 2px solid #069;
    padding-bottom: 10px;
    margin-bottom: 6px;
    list-style: none;
}

.sidenav .heading-t4 {
    padding: 2px 8px 0 10px;
}

.heading-t4 {
    background: #fff;
    border-top: 6px solid #738dca;
    border-bottom: 6px solid #738dca;
    overflow: hidden;
    font-size: 16px;
}

.search-form {
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.search-form button {
    position: absolute;
    right: 10px;
    top: 3px;
    border: 0;
    padding: 0;
    background: none;
}

.ico-search {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat 0 0;
    width: 17px;
    height: 23px;
}

.search-form #query {
    height: 28px;
    border: 2px solid #39c;
    border-radius: 14px;
    font-size: 14px;
    line-height: 20px;
    padding: 1px 15px;
    padding-right: 35px;
    width: 100%;
    background: #f3f3f3;
    box-shadow: none!important;
}

.searchOption {
    color: white;
}

li{  
    color: black;
    cursor:pointer;  
}  
li:hover  
{  
    background-color:#f9f9f9;  
}  

.serch-ul {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: block;
    min-width: 195px;
    list-style: none;
    padding: 5px 0;
    margin: 2px 0 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/*
*   _footer
*
*   Site footer
*/
/* --- GLOBAL FOOTER STYLES --- */
#site_footer {
  position: relative;
  width: 100%;
  bottom: 0;
  padding: 2em 2em 5em 2em;
  margin: 0 auto;
  background-color: black; 
}
  
#site_footer .gradient_line {
    margin-left: auto;
    margin-right: auto;
    content: " ";
    width: 100%;
    height: 1px;
    clear: both;
    background: #61b6fd;
    background: -moz-linear-gradient(left, transparent, #61b6fd, transparent);
    background: -webkit-linear-gradient(left, transparent, #61b6fd, transparent);
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #61b6fd, rgba(0, 0, 0, 0));
    width: 90%; }
    @media (min-width: 769px) {
      #site_footer .gradient_line {
        width: 50%; 
    }
 }

/* --- end GLOBAL FOOTER STYLES --- */
/* --- UPPER FOOTER --- */
.upper_footer {
  padding: 3em 0 4em; 
}
  
.upper_footer .share, .upper_footer .footer_newsletter {
    text-align: center;
    padding: 1.69492%;
    margin-bottom: 3em;
    width: 100%; 
}
    
.upper_footer .share h2, .upper_footer .footer_newsletter h2 {
      font-size: 2em;
      font-weight: 600;
      margin-bottom: 0.6em;
      color: white;
      letter-spacing: -.035em; 
}
  
@media (min-width: 600px) {
    .upper_footer .footer_newsletter {
      width: 48.71795%;
      float: left;
      margin-left: 0;
      margin-right: -100%; } 
}
  
@media (min-width: 769px) {
    .upper_footer .footer_newsletter {
      width: 40.67797%;
      float: left;
      margin-left: 8.47458%;
      margin-right: -100%; } 
}
  
@media (min-width: 600px) {
    .upper_footer .share {
      width: 48.71795%;
      float: left;
      margin-left: 51.28205%;
      margin-right: -100%; } 
}
  
@media (min-width: 769px) {
    .upper_footer .share {
      width: 40.67797%;
      float: left;
      margin-left: 50.84746%;
      margin-right: -100%; } 
}

/* --- end UPPER FOOTER --- */
/* --- SITE MAP (middle footer area) --- */
#site_footer .sitemap {
  margin-bottom: 3em; }
  @media (min-width: 600px) {
    #site_footer .sitemap .grid_layout {
      width: 100%; } }
  @media (min-width: large) {
    #site_footer .sitemap .grid_layout {
      width: 97%; } }
#site_footer .sitemap_directory {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 3em; }
  #site_footer .sitemap_directory .footer_sitemap_item {
    margin-bottom: .6em; }
    @media (min-width: 600px) {
      #site_footer .sitemap_directory .footer_sitemap_item {
        margin-bottom: .2em; } }
    @media (min-width: 1024px) {
      #site_footer .sitemap_directory .footer_sitemap_item {
        margin-bottom: .2em;
        margin-left: 10%; } }
#site_footer .sitemap_title {
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.2em;
  letter-spacing: -.01em;
  margin-bottom: .3em; }
  @media (min-width: 600px) {
    #site_footer .sitemap_title {
      font-size: 1.1em; } }
  @media (min-width: 1024px) {
    #site_footer .sitemap_title {
      font-size: 1.3em; } }
#site_footer .sitemap_block {
  text-align: center;
  width: 100%; }
  @media (min-width: 600px) {
    #site_footer .sitemap_block {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: 25%;
      float: left;
      padding-left: 0.83333%;
      padding-right: 0.83333%;
      text-align: left; } }
@media (min-width: 600px) {
  #site_footer ul.subnav {
    margin-bottom: 1em; }
    #site_footer ul.subnav li {
      padding-left: 1em;
      text-indent: -1em;
      margin: .1em 0; } }
#site_footer ul.subnav a {
  color: #a5a6a7;
  text-decoration: none;
  font-size: 1em; }
  @media (min-width: 600px) {
    #site_footer ul.subnav a {
      font-size: .85em; } }
  @media (min-width: 1024px) {
    #site_footer ul.subnav a {
      font-size: .95em; } }
.no-touch #site_footer ul.subnav a:hover {
  color: white; }

/* --- end SITE MAP --- */
/* --- LOWER FOOTER --- */
.lower_footer {
  overflow: hidden;
  /* --- end LOWER FOOTER --- */ }
  .lower_footer .nav_container {
    margin: 0 auto;
    position: relative;
    left: 0;
    width: 100%;
    margin-bottom: 2.5em; }
    @media (min-width: 769px) {
      .lower_footer .nav_container {
        padding-top: 1em;
        position: absolute; } }
  .lower_footer nav {
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: .9em;
    color: #a5a6a7; }
    .lower_footer nav a {
      color: #a5a6a7;
      text-decoration: none; }

    .no-touch .lower_footer nav a:hover {
      color: white; }
    .lower_footer nav li {
      margin: 0 .6em;
      display: inline;
      line-height: 2em; }

    .lower_footer nav li + li:before {
      margin-left: .6em; }

  .lower_footer .credits {
    color: #a5a6a7;
    width: 100%;
    font-size: .9em;
    text-align: center;
    position: relative; }

    .lower_footer .credits > span {
      display: block; }

    .lower_footer .credits a {
      color: #a5a6a7;
      text-decoration: none; }

    .no-touch .lower_footer .credits a:hover {
      color: white; }
    @media (min-width: 769px) {

      .lower_footer .credits {
        float: right;
        width: 20%;
        text-align: left; }

        .lower_footer .credits > span {
          display: block; } }


.social_icons {
  display: inline-block; }

  .social_icons .icon {
    display: inline-block;
    overflow: hidden;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    cursor: pointer; }

    .social_icons .icon img {
      position: relative;
      top: 0;
      width: auto; }

    .social_icons .icon.addthis_button_facebook_follow img {
      left: 7px; }

    .social_icons .icon.addthis_button_twitter_follow img {
      left: -54px; }

    .social_icons .icon.addthis_button_youtube_follow img {
      left: -120px; }

    .social_icons .icon.addthis_button_instagram_follow img {
      left: -187px; }

    .social_icons .icon:hover img {
      top: -33px; }

    .social_icons .icon + .icon {
      margin-left: .5em; }
      @media (min-width: 769px) {

        .social_icons .icon + .icon {
          margin-left: 1.2em; } }

  .social_icons .all_icon {
    height: 32px;
    width: 32px;
    position: relative;
    vertical-align: middle;
    color: #a5a6a7; }

    .social_icons .all_icon span {
      text-decoration: none;
      font-size: 1em;
      font-weight: 600;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      line-height: normal; }

    .social_icons .all_icon:hover {
      color: white; }

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #069 !important;
  border-color: #069 !important;
  border-radius: 4px; 
}

.mudrod-navbar {
    margin-bottom: 5px !important;
}

