<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  Licensed under the Apache License, Version 2.0 (the "License"); 
  you may not use this file except in compliance with the License. 
  You may obtain  a copy of the License at 
  
  http://www.apache.org/licenses/LICENSE-2.0 Unless 
  
  required by applicable law or agreed to in writing, software 
  distributed under the License is distributed on an "AS IS" 
  BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either 
  express or implied. See the License for the specific language 
  governing permissions and limitations under the License. 
-->
<Config>
    <!-- Database configuration -->
    <para name="mudrod.cluster.name">MudrodES</para>
    <para name="mudrod.es.transport.tcp.port">9300</para>
    <para name="mudrod.es.unicast.hosts">127.0.0.1</para>
    <para name="mudrod.es.http.port">9200</para>
    <para name="mudrod.es.index">mudrod</para>
    
    <!-- Spark related -->
    <para name="mudrod.processing.type">parallel</para> <!-- Log processing type. Possible values include 'sequential' or 'parallel'.-->
    <para name="mudrod.spark.app.name">MudrodSparkApp</para> <!-- The name of your application. This will appear in the UI and in log data.-->
    <para name="mudrod.spark.master">local[4]</para>
    <para name="mudrod.spark.optimize">repartition</para> <!-- Log processing parallel optimization type. Possible values: default - MudrodConstants.PARALLEL_OPTIMIZATION_DEFAULT repartition - MudrodConstants.PARALLEL_OPTIMIZATION_REPARTITION -->
    
    <!-- Web log processing configuration -->
    <para name="mudrod.log.index">log</para> <!-- index name has to be all lowercase -->
    <para name="mudrod.ftp.prefix">FTP.</para>
    <para name="mudrod.http.prefix">WWW.</para>   
	<para name="mudrod.base.url">http://podaac.jpl.nasa.gov</para>
	<para name="mudrod.black.request.list">.js, .css, .jpg, .png, .ico, image_captcha, autocomplete, .gif, /alldata/, /api/, get / http/1.1, .jpeg, /ws/</para>
    <para name="mudrod.black.agent.list">crawler, googlebot, bingbot, slurp, yacybot, rogerbot, yandexbot, -, apache-httpclient, java, curl</para>	
	<para name="mudrod.search.freq">100</para>
	<para name="mudrod.view.freq">200</para>
    <para name="mudrod.download.freq">100</para> 
    <para name="mudrod.request.rate">30</para>
    <para name="mudrod.session.port">8080</para>
    <para name="mudrod.session.url">/mudrod-service/session.html</para>
    <para name="mudrod.request.time.gap">600</para>   
	<para name="mudrod.view.url.marker">/dataset/</para> 
	<para name="mudrod.search.url.marker">/datasetlist?</para>
	<!-- IMPORTANT NOTE: In order to better parse a URL (getting searching keyword, etc.), please consider custimize 
	gov.nasa.jpl.mudrod.weblog.structure.RequestUrl: GetSearchInfo, getFilterInfo -->
	
	<!-- User search history --> 
	<para name="mudrod.query.min">0</para>
    <para name="mudrod.user.history.weight">2</para>
	
	<!-- clickstream --> 
    <para name="mudrod.download.weight">3</para>
    <para name="mudrod.clickstream.svd.d">50</para>
    <para name="mudrod.clickstream.weight">2</para>
			 	
	<!-- Metadata configuration -->
	<para name="mudrod.metadata.download">0</para>
	<para name="mudrod.metadata.download.url">https://podaac.jpl.nasa.gov/api/dataset?startIndex=$startIndex&amp;entries=10&amp;sortField=Dataset-AllTimePopularity&amp;sortOrder=asc&amp;id=&amp;value=&amp;search=</para>
    <para name="mudrod.metadata.svd.d">50</para>
    <para name="mudrod.metadata.url">null</para>
    <para name="mudrod.metadata.weight">1</para>
    <para name="mudrod.metadata.type">RawMetadata</para>
       	
	<!-- Ranking configuration -->
    <para name="svmSgdModel">${svmSgdModel.value}.zip</para> <!-- ${svmSgdModel.value} is resolved at build time. See the property in core/pom.xml for the value -->
       	
	<!-- Recommendation configuration -->
    <para name="mudrod.metadata.id">Dataset-ShortName</para> 
    <para name="mudrod.metadata.semantic.fields">DatasetParameter-Term,DatasetParameter-Variable,Dataset-ExtractTerm</para> 
    
    <!--The ontology service implementation. Possible values include
     EsipPortal - EsipPortalOntology
     EsipCOR - EsipCOROntology
     Local - gov.nasa.jpl.mudrod.ontology.process.Local-->
    <para name="mudrod.ontology.implementation">Local</para>
    <para name="mudrod.ontology.weight">2</para>
</Config>
